
body,
div,
span,
form,
td,
input,
select,
input.font,
.copy
{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 11px; bgcolor="#ffffff" vlink="#027d8d" link="#027d8d" }

p { font-size : 12px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }

pre { font: "Courier New", Courier, monospace;
	font-size: x-small;
}



/* --  H tags from previous design  -- */



h1 {
	font: 22px;
	text-align: left;
font-weight:bold;
}
h2 { 
	font: 18px;
font-weight:bold;
}
h3 { 
	font: 14px;
font-weight:bold;
}
h4 { 
	font: 12px;
font-weight:bold;
}



/* --  SHARED TOP AND BOTTOM  -- */



/* -- Portal Function -- */

.portalNAV{	font-size:10px;	font-weight:bold;  line-height:16px;  }

	
/* -- NO UNDERLINE LINKS -- */  
.noLINE a:link	{	text-decoration : none ; color : #06538A ; }					
.noLINE a:visited {	text-decoration : none ; color : #06538A ; }					
.noLINE a:hover	{	text-decoration : underline ; color : #06538A ; }					
.noLINE a:active {	text-decoration : none ; color : #06538A ; }		


/* -- search input size -- */
.searchInput {	font-size:12px; }



/* -- welcome row -- */

.dobbsWelcome {	font-size:10px; color : #FFD169 ; font-weight:bold;  line-height:20px;
	margin-left: 15px;}
.redDate {	font-size:10px; color : #FF6600 ; font-weight:bold;}
.userLOG {	font-size:10px; color : #CC3300 ; font-weight:bold;  line-height:20px;}
.bloglinks {	font-size:10px; color : #093 ; font-weight:bold;}



/* -- Listing of Generic Font Tags -- */

.BOLD {font-weight:bold; }

.eight { font-size:8px; }
.eightBOLD { font-size:8px; font-weight:bold; }

.nine { font-size:9px; }
.nineBOLD { font-size:9px; font-weight:bold; }

.ten { font-size:10px; }
.tenBOLD { font-size:10px; font-weight:bold; }

.eleven { font-size:11px; }
.elevenBOLD { font-size:11px; font-weight:bold; }

.twelve { font-size:12px; }
.twelveBOLD { font-size:12px; font-weight:bold; }

.thirteen { font-size:13px; }
.thirteenBOLD { font-size:13px; font-weight:bold; }

.fourteen { font-size:14px; }
.fourteenBOLD { font-size:14px; font-weight:bold; }

.fifteen { font-size:15px; }
.fifteenBOLD { font-size:15px; font-weight:bold; }

.sixteen { font-size:16px; }
.sixteenBOLD { font-size:16px; font-weight:bold; }

.seventeen { font-size:17px; }
.seventeenBOLD { font-size:17px; font-weight:bold; }

.eighteen { font-size:18px; }
.eighteenBOLD { font-size:18px; font-weight:bold; }

.WHITEten { 
	color: #FFFFFF; font-size:10px; }
.WHITEtenBOLD { 
	color: #FFFFFF; font-size:10px; font-weight:bold; }

.pointerhand {
	cursor: pointer;
	cursor: hand;
}
/* -- END of Listing of Generic Font Tags -- */


/* -- FONTS : Home Page  -- */



.BARTitles{
	font-size:13px;
	color: #FFFFFF;
	line-height:18px;
	display: inline;

		position: relative;
		left: 4px;
}


.miniBARTitles{
	font-size:13px;
	color:#FFFFFF;
	
	line-height:16px;
	display: inline;

		position: relative;
		left: 4px;
}

.BARTitlesWRAP{
	font-size:13px;
	color:#FFFFFF;
	
	line-height:14px;
	display: inline;

		position: relative;
		left: 4px;

}


.goTo{
	font-size:11px;
	color:#CDE5E8;
	
	line-height:18px;
	display: inline;
width: 120px;
		position: absolute;
		left: 370px;
}


.goTo2{
	font-size:11px;
	color:#CDE5E8;
	
	line-height:18px;
	display: inline;
width: 120px;
		position: absolute;
		left: 300px;
}

.goToMINI{
	font-size:11px;
	color:#EEEECC;
	
	line-height:16px;
	display: inline;
width: 120px;
height: 16px;
		position: absolute;
		left: 130px;

}

.goToMediaCenter{
	font-size:11px;
	color:#EEEECC;
	
	line-height:18px;
	display: inline;

margin-left: 39px;
}


.more{
	font-size:11px;
	color:#EEEECC;
	
	line-height:18px;
	display: inline;
		position: relative;

margin-left: 39px;
}


.more2{
	font-size:11px;
	color:#EEEECC;
	
	line-height:18px;
	display: inline;
		position: relative;

margin-left: 30px;
}

.author{
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	display: inline;
	font-style: italic;
	
}

.author2{
	font-size:11px;
	font-weight:bold;
	line-height:15px;
	display: inline;
	font-style: italic;
	
}

.blogName{
	font-size:11px;
	font-weight:bold;
	line-height:20px;
	display: inline;
 color : #FF6600 ; 
	
}

.blogName2{
	font-size:10px;
	font-weight:bold;
	line-height:15px;
	display: inline;
 color : #FF6600 ; 
	
}

.blogTitle{
	font-size:10px;
	font-weight:bold;
	line-height:15px;
	display: inline;
 color : #FF6600 ; 
	
}



.LRGheadline{
	font-size:16px;
	font-weight:normal;
	line-height:20px;
	display: inline;
}

.MCheadline{
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	display: inline;
}


.MEDheadline{
	font-size:14px;
	font-weight:normal;
	line-height:16px;
	display: inline;
}


.BOLDtopics{
	font-size:16px;
	font-weight:bold;
	line-height:25px;
	display: inline;
}


.SMALLheadline{
	font-size:12px;
	font-weight:normal;
	line-height:14px;
	display: inline;
}


.basicheadline{
	font-size:11px;
	font-weight:normal;
	line-height:14px;
	display: inline;
}

.green9{
	color:#090;
	font-size:9px;
	font-weight:bold;
}


/* -- FONTS : Other Pages  -- */


h5, 
.articleHeadline{
	font-size:20px;
	font-weight:bold;
	line-height:23px;
	display: inline;
}

h6, 
.TOPICHeadline{
	font-size:18px;
	font-weight:bold;
	line-height:20px;
	display: inline;
}

.utilityLinks{
	font-size:10px;
	font-weight:bold;
	line-height:18px;
	display: inline;
}



.searchHeader{
	font-size:16px;
	font-weight:bold;
	color : #349F2C ;
	line-height:23px;
	display: inline;
}

.SMredTopic {	font-size:10px; color : #CC3300 ; font-weight:bold;}


.articleNAV{	font-size:10px;	font-weight:bold;  line-height:14px;  }

.greenBlurb {	font-size:12px; color : #FF6609 ; font-weight:bold;}

.articleBody {	font-size:12px; margin-bottom: 15px;}



.red11titles {	font-size:11px; color : #FF6600 ; font-weight:bold;}

.deptLinks {	font-size:11px; color : #006699 ; font-weight:bold; font-family: Arial, Helvetica, sans-serif;}

.deptLinks a:link	{	text-decoration : none ; color : #006699 ; }					
.deptLinks a:visited {	text-decoration : none ; color : #006699 ; }					
.deptLinks a:hover	{	text-decoration : underline ; color : #006699 ; }					
.deptLinks a:active {	text-decoration : none ; color : #006699 ; }		



.eventBARTitles{	font-size:11px;	color:#FFFFFF;	line-height:18px;  font-weight:bold; display: inline; margin-left: 4px;  }

.eventBARTitles a:active {	text-decoration : none ; color : #FFFFFF ; }		
.eventBARTitles a:link	{	text-decoration : none ; color : #FFFFFF ; }					
.eventBARTitles a:visited {	text-decoration : none ; color : #FFFFFF ; }					
.eventBARTitles a:hover	{	text-decoration : underline ; color : #FFFFFF ; }					
.eventBARTitles a:active {	text-decoration : none ; color : #FFFFFF ; }		


