/* -- LAYOUT:  SHARED TOP AND BOTTOM -- */

#TopAdContainer{
	width: 900px;
	height: 90px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 15px 0px 0px 0px;
	z-index: 1;
	float:center;
	text-align:left;
	margin-bottom:15px;
}

#BottomAdContainer{
	width: 900px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 15px 0px 0px 0px;
	z-index: 1;
	float:center;
	text-align:center;
	margin-bottom:15px;
}

.welcomePad{
	margin-top:3px;
	margin-right:12px;
	margin-left:10px;
	margin-bottom:4px;
}

.portalNAVPad{
	margin-top:3px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:4px;
}

/* -- LAYOUT:  HOME PAGE -- */

.Bspace4{
	margin-bottom:4px; 
}

.Bspace5{
	margin-bottom:5px; 
}

.Bspace8{
	margin-bottom:8px; 
}

.Bspace10{
	margin-bottom:10px;
}

.Bspace15{
	margin-bottom:15px;
}


.Vspace10{
	margin-bottom:10px; 
	margin-top:10px;
}

.Vlinespace{
	margin-bottom:30px; 
	margin-top:8px;
}

.Vspace20{
	margin-bottom:20px; 
	margin-top:20px;
}




.LColMargin{
	margin-top:0px;
	margin-left:5px;
	margin-right:0px;
	margin-bottom:10px;
}




#GreenContainerBox{
	width: 512px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:20px;
}

#GreenBAR{
	width: 512px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#GreenContainerBox2{
	width: 405px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:20px;
}

#GreenBAR2{
	width: 405px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#ResearchContainerBox{
	width: 512px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #D6ECD5;
	layer-background-color: #D6ECD5;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:20px;
}

#ResearchContainerBox2{
	width: 405px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #D6ECD5;
	layer-background-color: #D6ECD5;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:20px;
}


.PaddingStyle1{
	margin-top:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:10px;
}

.PaddingStyle2{
	margin-top:5px;
	margin-right:3px;
	margin-left:10px;
	margin-bottom:10px;
}

.PaddingStyle3{
	margin-top:5px;
	margin-right:1px;
	margin-left:5px;
	margin-bottom:10px;
}

.PaddingStyle4{
	margin-top:5px;
	margin-right:3px;
	margin-left:3px;
	margin-bottom:10px;
}

#GreenContainerBoxSM{
	width: 226px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #CDE5E8;
	layer-background-color: #CDE5E8;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:5px;
}

#GreenBARSM{
	width: 226px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#GreenContainerBoxSM2{
	width: 197px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:15px;
}

#GreenBARSM2{
	width: 197px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}


#MEDIAcenter{
	width: 230px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #E8F2D7;
	layer-background-color: #E8F2D7;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
}

#MEDIAcenterBAR{
	width: 230px;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#MEDIAcenterMINI{
	width: 185px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #E8F2D7;
	layer-background-color: #E8F2D7;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
}

#MEDIAcenterBARMINI{
	width: 185px;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.MEDIAcenterPad{ 
	padding: 5px 3px 5px 10px;
}

#DepartmentBOX{
	width: 154px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFD169;
	layer-background-color: #FFD169;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0	
}

#DepartmentBar{
	width: 154px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.DepartmentPad{ 
	padding: 5px 3px 5px 10px;
}

.DeptLinkPad{
	margin-top:3px;
	margin-left:4px;
	margin-bottom:3px;
}

#dividerLine{
	width: 154px;
	height: 1px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#greenLine391{
	width: 391px;
	background-color: #000000;
	layer-background-color: #000000;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:20px;
}

#greenLine352{
	width: 352px;
	background-color: #000000;
	layer-background-color: #000000;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:20px;
}



#EventBar{
	width: 156px;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#RightColGreenBar{
	width: 191px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#rightcolBox{
	width: 190px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 5px 0px 10px 10px;
	margin-bottom:0px;
}

#ArticleRightColGreenBar{
	width: 181px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 2px 0px 2px 0px;
	margin-bottom:0px;
}

#ArticlerightcolBox{
	width: 170px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 5px 0px 10px 10px;
	margin-bottom:0px;
}

#SKYSIZERightColGreenBar{
	width: 159px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 2px 0px 2px 0px;
	margin-bottom:0px;
}

#SKYSIZERightColGreenBox{
	width: 150px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 5px 0px 10px 10px;
	margin-bottom:0px;
}


#MarketPlaceBox{
	width: 598px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:5px;
}

#MarketPlaceBar{
	width: 598px;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.MarketPlacePad{ 
	padding: 5px 3px 5px 10px;
}

#SponsorLinkBox{
	width: 288px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:5px;
}

#SponsorLinkBar{
	width: 288px;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.SponsorLinkPad{ 
	padding: 5px 3px 5px 10px;
}


#COPYRIGHTContainer{
	width: 900px;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 15px 10px;
	z-index: 1;
	float:center;
	text-align:left;
	margin-bottom:15px;
}


#SubscriptionBOX{
	width: 398px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:5px;
}

#SubscriptionBAR{
	width: 398px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.SubscriptionPad{ 
	padding: 5px 3px 10px 10px;
}

.subFORMpadding {
	margin-left:10px; margin-top:10px;margin-bottom:10px;
}



.PageNumbers{ 
	padding: 5px 80px 10px 0px;
}


.articlepadding{
	margin-top:0px;
	margin-left:13px;
	margin-right:20px;
	margin-bottom:10px;
}

.TopicColPadding{
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}


#TOCBOX{
	width: 148px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #CDE5E8;
	layer-background-color: #CDE5E8;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:10px;
}

#TOCBAR{
	width: 148px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.TOCPad{ 
	padding: 5px 3px 3px 10px;
}


#TopicBoxes330{
	width: 328px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:10px;
}

#TopicBar330{
	width: 328px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#TopicBoxes230{
	width: 228px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:10px;
}

#TopicBar230{
	width: 228px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#TopicBoxes250{
	width: 248px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:10px;
}

#TopicBar250{
	width: 248px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#TopicBoxes198{
	width: 196px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:10px;
}

#TopicBar198{
	width: 196px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#TopicBoxes197{
	width: 195px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:10px;
}

#TopicBar197{
	width: 195px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#TopicBoxes175{
	width: 173px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:0px;
}

#TopicBar175{
	width: 173px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

#TopicBoxes120{
	width: 118px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:0px;
}

#TopicBar120{
	width: 118px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}


#SponsorBox{
	width: 400px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
	float: left;
}

#SponsorBar{
	width: 400px;
	background-color: #FF6600;
	layer-background-color: #FF6600;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.SPONSORPad{ 
	padding: 5px 10px 10px 10px;
}

.ForumPad{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#TechCareersBox{
	width: 400px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
}

/* -- SEARCH -- */

#FocusSEARCHbox{
	width: 194px;
	border-color: #C5C9A8;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
}

#FocusSEARCHbar{
	width: 194px;
	background-color: #999966;
	layer-background-color: #999966;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
}

.FocusSearchPad{
	margin-top:5px;
	margin-left:15px;
	margin-right:5px;
	margin-bottom:7px;
}

.TipsSearchPad{
	margin-top:5px;
	margin-left:8px;
	margin-right:5px;
	margin-bottom:4px;
}


#outlineGreenBox160{
	width: 160px;
	border-color: #999966;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
}

#outlineGreenBar161{
	width: 161px;
	background-color: #999966;
	layer-background-color: #999966;
	padding: 2px 0px 2px 0px;
	margin-bottom:0px;
	}



#outlineGreenBox183{
	width: 183px;
	border-color: #999966;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:0px;
}

#outlineGreenBar184{
	width: 184px;
	background-color: #999966;
	layer-background-color: #999966;
	padding: 2px 0px 2px 0px;
	margin-bottom:0px;
}


/* -- Special Bullet links -- */

#pure ul {
	padding: 0px 3px 10px 8px; 
	margin: 0;
}

#pure li {
	padding: 0; 
	margin: 0 0 8px 8px; 
	list-style: decimal ; 
	line-height: 1.2; 
	position: relative;
}

#pure .link {
	display: block; 
	width: 205px; 
	padding-top: 2px; 
}



/* -- BLOG ORANGE BULLET LINKS  -- */

#RcolList ul {
	padding: 0px 3px 5px 3px; 
	margin: 0; 
}

#RcolList li {
	padding: 0; 
	margin: 0 0 5px 8px; 
	list-style: square ; 
	color: #CC3300 ;
	line-height: 1.8; 
	position: relative; 
}

#RcolList .link {
	display: block; width: 210px; 
	padding-top: 2px; 
}


/* special Media Center bar codes */

#MCgreenbar{
	width: 400px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	z-index: 1;
	float:left;
	text-align:left;
	padding: 3px 0px 1px 0px;
	margin-bottom:8px;
	margin-top:0px;
}


#MCgreenbaraudio{
	width: 400px;
	background-color: #349F2C;
	layer-background-color: #349F2C;
	z-index: 1;
	float:left;
	text-align:left;
	padding: 3px 0px 1px 0px;
	margin-bottom:8px;
	margin-top:0px;
}


#MCgreenbarvideo{
	width: 400px;
	background-color: #8ABC3A;
	layer-background-color: #8ABC3A;
	z-index: 1;
	float:left;
	text-align:left;
	padding: 3px 0px 1px 0px;
	margin-bottom:8px;
	margin-top:0px;
}


#MCgreenbarnetsem{
	width: 400px;
	background-color: #027D8D;
	layer-background-color: #027D8D;
	z-index: 1;
	float:left;
	text-align:left;
	padding: 3px 0px 1px 0px;
	margin-bottom:8px;
	margin-top:0px;
}


#MCgreenoutline{
	width: 400px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:20px;
	margin-top:0px;
}


#MCholder{
	width: 380px;
	z-index: 1;
	float:left;
	text-align:left;
	padding: 0px 0px 0px 0px;
	margin-left:5px;
	margin-top:0px;
}


.BarMCHead{
	font-size:13px;
	color:#FFFFFF;
}

#MCshowalign{
	font-size:11px;
	display: inline;
	color:#FFFFFF;
	margin-left:20px;
	margin-top:0px;
	position:absolute;
	left: 280px;
}

.MCshowmelink{
	font-size:11px;
	color:#FFFFFF;
}


.MCpadding {	
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}

.MCpaddingOpen{
	margin-top:10px;
	margin-left:10px;
	margin-right:20px;
	margin-bottom:10px;
}

/* Social Bookmarking */

.add2ddj {
color: #027d8d;
cursor:pointer;
}

.add2header {
color: #027d8d;
font-size: 9px;
}

.add2boarder {
padding-top: 25px;
padding-bottom: 5px;
}

/* Test Drive */

#TestDriveBox {
	width: 191px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	layer-background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	margin-top:20px;
}