	
pre {
	border: 1px solid #5babf9;
	background-color: #f0fbfb;
	font-family: courier, serif;
	font-size: 9pt;
	}

.code {
	width: 500px;
	overflow: auto;
	margin: 0;
	}

.listcode {
	width: 500px;
	border: 1px solid #5babf9;
	background-color: #f0fbfb;
	font-family: courier, serif;
	font-size: 9pt;
	margin: 0;
	padding: 5px;
	}

	
blockquote {
	font-family: courier;
	}

	
.thumbstack {
	float: right;
	}
	
.thumbnail {
	margin-left: 5px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 9px;
	width: 500px;
	}

.thumbnailimage {
	width: 500px;
	border: none;
	}

.smallthumbnail {
	margin-left: 5px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 9px;
	width: 200px;
	}

.smallthumbnailimage {
	width: 200px;
	border: none;
	}

.caption {
	width: 500px;
	border: 1px solid #5babf9;
	background-color: #d2f4ec;
	text-align: left;
	font-family: verdana, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 10px;
	}

.smallcaption {
	border: 1px solid #5babf9;
	background-color: #d2f4ec;
	text-align: left;
	font-family: verdana, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 10px;
	width: 200px;
	}

.thumbnail A:link {text-decoration: none}
.thumbnail A:visited {text-decoration: none}
.thumbnail A:active {text-decoration: none}
.thumbnail A:hover {text-decoration: underline; color: red;}

.illowide {
	width: 498px;
	border: 1px solid #5babf9;
	}

.smallcap {
	width: 500px;
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 7pt;
	background-color: #a5f3f3;
	padding: 2px;
	border: 1px solid #8182f5;
	margin-bottom: 2px;
	}


		