BODY  {

      margin-left:   	0px;
      margin-right:  	0px;
      margin-top:    	0px;
      margin-bottom: 	0px;
      
      bgcolor:       	#ffffff;
      text:	     	#000000;

      }
      
B     {
      font: 		bold 10px/15px Arial;
      }
      
A:link{
      color: 	     	#ffcccc;
      font: 		bold;
      }

A:visited{
      color: 		#cccccc;
      font: 		bold;
      }

A:active{
      color: 		#ccccff;
      font: 		bold;
      }


