BODY{
      	margin-left: 	0pt;
      	margin-right: 	0pt;
      	margin-top: 	0pt;
      	margin-bottom: 	0pt;
	font-face:	Helvetica, Arial, Sans Serif;
	font-color:	#000000;
}      
   
B{
      	font: 		bold  Helvetica, Arial, Sans Serif;
}
      
P{
      	font: 		 Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

OL{
      	font: 		 Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

UL{
      	font: 		 Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

LI{
      	font: 		 Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

table{
      	font: 		 Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}
TD{
      	font: 		 Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

PRE{
      	font: 		90% mono, Monospace;
      	color: 		#003300;
}

CODE{
      	font: 		mono, Monospace;
      	color: 		#003300;
}

I{
	font:		italics;
}

A:link{
      	color: 		#990000;
}

A:redtop{
      	color: 		#FFFFFF;
}

A:visited{
      	color: 		#006699;
}

A:active{
      	color: 		#339900;
}

H1{
   font-family: Helvetica, Arial, Sans Serif; 
}

H2{
	font: 		bold  Helvetica, Arial, Sans Serif;
}

H3{
	font: 		bold  Helvetica, Arial, Sans Serif;
}

H4{
	font: 		bold  Helvetica, Arial, Sans Serif;
}

H5{
	font: 		bold  Helvetica, Arial, Sans Serif;
}

H6{
	font: 		bold  Helvetica, Arial, Sans Serif;
}

.copyright{
      	font: 		bold smaller Helvetica, Arial, Sans Serif;
}

.title{
      	font: 		bold larger Helvetica, Arial, Sans Serif;
      	color: 		#000033;
}

.theme{
      	font: 		bold  Helvetica, Arial, Sans Serif;
      	color: 		#990000;
}

.articleLink{
	font: 		 Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.departmentLink{
	font: 		 Helvetica, Arial, Sans Serif;
}

.articleHeader{
	font: 		bold  Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.departmentHeader{
	font: 		bold  Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.navbarLink{
;
font-family: Helvetica, Arial, "Sans Serif"; font-weight: bold}

.tocRef{
	font:		bold  Helvetica, Arial, Sans Serif;
        color: 		#990033;
}

.staff{
	font:		 Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.codeListing{
	font: 		bold 10pt Helvetica, Arial, Sans Serif;
        color: 		#990000;
}

.codeYear{
	font: 		bold  Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.debugg{
	font:		smaller Helvetica, Arial, Sans Serif;
}

.redtop {  background-color: #990000; color: #FFFFFF}