BODY{
      	margin-left: 	0pt;
      	margin-right: 	0pt;
      	margin-top: 	0pt;
      	margin-bottom: 	0pt;

      	font-size:	12pt;
	font-face:	Helvetica, Arial, Sans Serif;
	font-color:	#000000;
}      
   
B{
      	font: 		bold 12pt Helvetica, Arial, Sans Serif;
}
      
P{
      	font: 		12pt Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

OL{
      	font: 		12pt Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

UL{
      	font: 		12pt Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

LI{
      	font: 		12pt Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

TD{
      	font: 		12pt Helvetica, Arial, Sans Serif;
      	color: 		#000000;
}

PRE{
      	font: 		12pt  mono, Monospace;
      	color: 		#336666;
}

I{
	font:		italics;
}

A:link{
      	color: 		#990000;
}

A:visited{
      	color: 		#006699;
}

A:active{
      	color: 		#339900;
}

H1{
	font: 		bold 20pt Helvetica, Arial, Sans Serif;
}

H2{
	font: 		bold 18pt Helvetica, Arial, Sans Serif;
}

H3{
	font: 		bold 16pt Helvetica, Arial, Sans Serif;
}

H4{
	font: 		bold 14pt Helvetica, Arial, Sans Serif;
}

H5{
	font: 		bold 12pt Helvetica, Arial, Sans Serif;
}

H6{
	font: 		bold 10pt Helvetica, Arial, Sans Serif;
}

.copyright{
      	font: 		bold 10pt Helvetica, Arial, Sans Serif;
}

.title{
      	font: 		bold 18pt Helvetica, Arial, Sans Serif;
      	color: 		#000033;
}

.theme{
      	font: 		bold 16pt Helvetica, Arial, Sans Serif;
      	color: 		#990000;
}

.articleLink{
	font: 		12pt Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.departmentLink{
	font: 		12pt Helvetica, Arial, Sans Serif;
}

.articleHeader{
	font: 		bold 14pt Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.departmentHeader{
	font: 		bold 14pt Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.navbarLink{
	font:		bold 11pt Helvetica, Arial, Sans Serif;
}

.tocRef{
	font:		bold 12pt Helvetica, Arial, Sans Serif;
        color: 		#990033;
}

.staff{
	font:		12pt Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.codeListing{
	font: 		bold 10pt Helvetica, Arial, Sans Serif;
        color: 		#990000;
}

.codeYear{
	font: 		bold 14pt Helvetica, Arial, Sans Serif;
        color: 		#000000;
}

.debugg{
	font:		10pt Helvetica, Arial, Sans Serif;
}

